* {
  overflow-x: hidden;
  padding: 0px !important;
}

@media (max-width: 768px) {
  .top-navbar {
    display: none;
  }

  .heading2 {
    display: none;
  }

  .button-box {
    display: none;
  }

  #image-desk {
    display: none;
  }

  .text-container {
    display: none;
  }
  .button-next_3 {
    display: none;
  }
/* ------------------------------------------------------------------------------------------------- */
  .container-phone {
    width: 375px;
    height: 667px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    margin: auto;
  }
  .container-phone2 {
    width: 375px;
    height: 667px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 100%;
    overflow: hidden;
    margin: auto;
    display: none;
  }
  .container-phone3 {
    width: 375px;
    height: 667px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 100%;
    overflow: hidden;
    margin: auto;
    display: none;
  }
  .container-phone4 {
    width: 375px;
    height: 667px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 100%;
    overflow: hidden;
    margin: auto;
    display: none;
  }

  /* ------------------------------------------------------------------------------------------------- */

  .heading {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 54px;
    left: 0px;
    opacity: 1;
    text-align: center;
    margin: auto;
  }
  .img-container-phone {
    width: 257px;
    height: 211px;
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 59px;
    overflow: hidden;
    margin: auto;
  }
  .image-phone {
    width: 257px;
    height: 206px;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 0px;
    overflow: hidden;
    margin: auto;
  }
  
  .button-start_1 {
    width: 149px;
    height: 39px;
    background: rgba(252,130,143,1);
    opacity: 0.5;
    position: absolute;
    top: 559px;
    left: 112px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    margin: auto;
  }

  .button-start_11 {
    width: 149px;
    height: 39px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: absolute;
    top: 559px;
    left: 112px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    margin: auto;
  }

  .button-next_1 {
    width: 80px;
    height: 39px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: absolute;
    top: 559px;
    left: 220px;
    border-radius: 15px;
    border: none;
    outline: none;
    overflow: hidden;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
  }

  .button-next_1:hover {
    background: rgb(236, 91, 106);
    transition: 0.3s;
  }
  
  .text-verify {
    width: 265px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 346px;
    left: 55px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 18px;
    opacity: 1;
    text-align: center;
    margin: auto;
  }
  .text-explain {
    width: 298px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 406px;
    left: 36px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: center;
    margin: auto;
  }
  .box-dots {
    width: 54px;
    height: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 527px;
    left: 160px;
    overflow: hidden;
    margin: auto;
  }
  .dot-1 {
    width: 9px;
    height: 9px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    border-radius: 50%;
    margin: auto;
  }
  .dot-11 {
    width: 9px;
    height: 9px;
    background: rgba(255,183,191,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    border-radius: 50%;
    margin: auto;
  }
  .dot-2 {
    width: 9px;
    height: 9px;
    background: rgba(255,183,191,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: -5px;
    border-radius: 50%;
    margin: auto;
  }
  .dot-22 {
    width: 9px;
    height: 9px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: -5px;
    border-radius: 50%;
    margin: auto;
  }
 
  .dot-3 {
    width: 9px;
    height: 9px;
    background: rgba(255,183,191,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 31px;
    border-radius: 50%;
    margin: auto;
  }
  .dot-33 {
    width: 9px;
    height: 9px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 31px;
    border-radius: 50%;
    margin: auto;
  }
  .dot-4 {
    width: 9px;
    height: 9px;
    background: rgba(255,183,191,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 43px;
    border-radius: 50%;
    margin: auto;
  }  
  .dot-44 {
    width: 9px;
    height: 9px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 43px;
    border-radius: 50%;
    margin: auto;
  } 

  .img-container-criteria {
    display: none;
  }
  .img-container-rewards {
    display: none;
  }
  .img-container-privacy {
    display: none;
  }
}

@media (min-width: 769px) {
  .heading {
    display: none;
  }

  .image-phone {
    display: none;
  }

  .button-start_1 {
    display: none;
  }

  .text-verify {
    display: none;
  }

  .text-explain {
    display: none;
  }

  .box-dots {
    display: none;
  }

  /* ----------------------------------------------------------------------------------------------------------- */
  .container-desk {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: fixed;
    overflow: hidden;
  }
  .container-desk2 {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
  }
  .container-desk3 {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
  }
  .container-desk4 {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    z-index: 1;
  }
    /* ----------------------------------------------------------------------------------------------------------- */

  
  .top-navbar {
    width: 100%;
    height: 64px;
    background: white;
    box-shadow: 0px 1px 8px grey;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
  }
  .heading2 {
    width: 100%;
    top: 0px;
    position: absolute;
    opacity: 1;
    text-align: left;
  }
  .report {
    width: 255px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    right: 250px;
    font-family: 'Work Sans';
    font-weight: 'Regular';
    font-size: 16px;
    opacity: 0.3;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
  }
  .rewards {
    width: 255px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    right: 125px;
    font-family: 'Work Sans';
    font-weight: 'Regular';
    font-size: 16px;
    opacity: 0.3;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
  }
  .settings {
    width: 255px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    right: 0px;
    font-family: 'Work Sans';
    font-weight: 'Regular';
    font-size: 16px;
    opacity: 0.3;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
  }
  
  .button-box {
    width: 100%;
    height: auto;
    position: fixed;
    top: 640px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    text-align: center;
    z-index: 2;
  }
  
  .button-start_2 {
    width: 360px;
    height: 62px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: relative;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 25px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
  }
  .button-start_2:hover {
    background: rgb(236, 91, 106);
    transition: 0.3s;
  }
  
/* .button-next_3 {
    width: 140px;
    height: 72px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: absolute;
    top: 570px;
    left: 45%;
    border-radius: 20px;
    border: none;
    outline: none;
    overflow: hidden;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 38px;
    cursor: pointer;
    margin-left: 8px;
    z-index: 1;
}
.button-next_3:hover {
  background: rgb(236, 91, 106);
  transition: 0.3s;
} */

.button-next_3 {
  width: 160px;
  height: 62px;
  background: rgba(252,130,143,1);
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 43.9%;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  z-index: 2;
  text-align: center;
}

.button-next_3:hover {
  background: rgb(236, 91, 106);
  transition: 0.3s;
}

  .button-next_2 {
    width: 140px;
    height: 72px;
    background: rgba(252,130,143,1);
    opacity: 1;
    position: absolute;
    border-radius: 20px;
    border: none;
    outline: none;
    overflow: hidden;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 38px;
    cursor: pointer;
    margin-left: 8px;
    z-index: 2;
  }

  .button-next_2:hover {
    background: rgb(236, 91, 106);
    transition: 0.3s;
  }
  
  .img-container-desk {
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    top: -250px;
    text-align: right;
    overflow: hidden;
    z-index: 0;
  }


  .img-container-criteria {
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    top: -230px;
    right: -120px;
    text-align: right;
    overflow: hidden;
    z-index: 0;
  }

  .img-container-rewards {
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    top: -270px;
    right: -60px;
    text-align: right;
    overflow: hidden;
    z-index: 0;
  }

  .img-container-privacy {
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    top: -230px;
    right: -70px;
    text-align: right;
    overflow: hidden;
    z-index: 0;
  }
  
  
  #image-desk {
    width: 60%;
    object-fit: contain;
  }
  
  #image-desk-criteria {
    width: 70%;
    object-fit: contain;
  }

  #image-desk-rewards {
    width: 66%;
    object-fit: contain;
  }

  #image-privacy {
    width: 66%;
    object-fit: contain;
  }

  .text-container {
    width: 50%;
    height: auto;
    right: 0px;
    text-align: left;
    margin-left: 50px;
  }
  
  .subhead-text {
    width: 45%;
    height: auto;
    color: rgba(12, 10, 64);
    position: absolute;
    top: 170px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 10px;
    opacity: 1;
    text-align: left;
  }

  .subhead-text-criteria {
    width: 45%;
    height: auto;
    color: rgba(12, 10, 64);
    position: absolute;
    top: 170px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 68px;
    margin-bottom: 10px;
    opacity: 1;
    text-align: left;
  }


  .subhead-text-rewards {
    width: 38%;
    height: auto;
    color: rgba(12, 10, 64);
    position: absolute;
    top: 170px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 68px;
    margin-bottom: 10px;
    opacity: 1;
    text-align: left;
    z-index: 1;
  }

  .subhead-text-privacy {
    width: 35%;
    height: auto;
    color: rgba(12, 10, 64);
    position: absolute;
    top: 170px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 68px;
    margin-bottom: 10px;
    opacity: 1;
    text-align: left;
  }

  .main-text {
    width: 50%;
    height: auto;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 365px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }

  .main-text-criteria {
    width: 50%;
    height: auto;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 365px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }


  .main-text-rewards {
    width: 50%;
    height: auto;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 365px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 24px;
    opacity: 1;
    text-align: left;
    z-index: 1;
  }

  .main-text-privacy {
    width: 50%;
    height: auto;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 365px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  
  @media (max-width: 1024px) {
    .main-text {
      font-size: 24px;
      top: 385px;
      width: 65%
    }

    .subhead-text {
      font-size: 43px;
    }

    .subhead-text-criteria {
      font-size: 60px;

  }

  }}