* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.reporting-screen {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
  position: fixed;
  overflow: hidden;
}
/*
  .top-nav-bar {
    width: 100%;
    height: 64px;
    background: rgba(118,211,206,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  */

  .top-nav-bar {
    width: 100%;
    height: 64px;
    background: white;
    box-shadow: 0px 1px 8px grey;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    z-index: 2;
  }
  
  .heading {
    width: 100%;
    top: 0px;
    position: absolute;
    opacity: 1;
    text-align: left;
    z-index: 2;
  }
  
  .text-reporting {
    width: 100px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    right: 350px;
    font-family: 'Work Sans';
    text-decoration: underline;
    font-weight: 'Regular';
    font-size: 16px;
    opacity: 1;
    text-align: center;
    cursor: pointer;
    border:none;
    outline: none;
    background: transparent;
    z-index: 2;
  }


  .text-rewards {
    width: 100px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    right: 225px;
    font-family: 'Work Sans';
    font-weight: 'Regular';
    font-size: 16px;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
  }

  .text-rewards:hover {
    opacity: 1;
    transition: 0.3s;
  }

  .text-settings {
    width: 100px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    right: 100px;
    font-family: 'Work Sans';
    font-weight: 'Regular';
    font-size: 16px;
    opacity: 0.5;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
    z-index: 2;
  }

  .text-settings:hover {
    opacity: 1;
    transition: 0.3s;
  }


  .form-box {
    width: 60%;
    height: auto;
    background-color: white;
    left: 0px;
    top: 0px;
    bottom: 0px;
    text-align: left;
    position: fixed;
    overflow: hidden;
    z-index: 1;
  }

.text-explain-link {
  width: 50%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 180px;
  left: 20%;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 300;
  opacity: 1;
  text-align: left;
  z-index: 1;
}

.text-enter-the-link {
  width: 70%;
  color:  rgba(12, 10, 64);
  position: absolute;
  top: 130px;
  left: 20%;
  font-size: 42px;
  font-family: 'Work Sans';
  font-weight: 600;
  opacity: 1;
  text-align: left;
  z-index: 1;
}

input[type="url"] {
  width: 50%;
  height: 65px;
  background: white;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 20%;
  border: none;
  box-shadow: 0px 1px 8px grey;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-size: 16px;
  overflow: hidden;
  text-align: left;
  z-index: 1;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-indent: 30px;
}

input[type="url"]:hover {
  background: rgb(197, 235, 230);
  transition: 0.3s;
}

.text-paste-link {
  width: 425px;
  color: rgba(0,0,0,0.8);
  position: absolute;
  top: 232px;
  left: 218px;
  font-family: 'Asap';
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
  z-index: 1;
}
.text-upload-picture {
  width: 70%;
  color: rgba(12, 10, 64);
  position: absolute;
  top: 380px;
  left: 20%;
  font-size: 42px;
  font-family: 'Work Sans';
  font-weight: 600;
  opacity: 1;
  text-align: left;
  z-index: 1;
}

.text-upload-explain {
  width: 50%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 20%;
  font-size: 18px;
  font-family: 'Work Sans';
  font-weight: 300;
  opacity: 1;
  text-align: left;
  z-index: 1;
}

.text-or {
  width: 50%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 360px;
  left: 50px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  z-index: 1;
}

.input-file-container {
  position: relative;
  width: 225px;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.box-upload-picture {
  width: 50%;
    height: 120px;
    background: white;
    background-image: url(upload-icon.png);
    background-position: center 30px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 490px;
    left: 20%;
    box-shadow: 0px 1px 8px grey;
    border: none;
    border-radius: 5px;
    z-index: 1;
    font-family: 'Asap';
    font-weight: Regular;
    font-size: 18px;
    color: rgba(0,0,0, 0.5);
    overflow: hidden;
    line-height: 190px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
  
  
} 

.box-upload-picture:hover {
background: rgb(197, 235, 230);
transition: 0.3s;
background-image: url(upload-icon.png);
object-fit: contain;
background-position: center 20px;
background-size: 50px 50px;
background-repeat: no-repeat;
}

#file-upload-filename {
font-size: 15px;
position: absolute;
top: 618px;
left: 632px;
z-index: 1;
}

.upload-picture-icon {
  position: relative;
  top: 370px;
  left: 668px;
  width: 110px;
  z-index: 1;
}
.text-upload {
  width: 159px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 571px;
  left: 640px;
  font-family: 'Asap';
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
  z-index: 1;
  
}

.box-button {
  width: 50%;
  height: 80px;
  left: 20%;
  top: 640px;
  position: fixed;
  text-align: center;
}

.button-report {
  width: 100%;
  height: 58px;
  background: rgba(252,130,143,1);
  opacity: 1;
  position: relative;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 600;
  outline: none;
  color: white;
  cursor: pointer; 
  z-index: 1;
}

.button-report:hover {
  background: rgb(236, 91, 106);
  transition: 0.3s;
}

.text-report {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 651px;
  left: 661px;
  font-family: 'Asap';
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  z-index: 1;

}

/* PHONE NAVIGATION BAR */
.box-nav {
  width: 100%;
  height: 70px;
  background:white;
  box-shadow: 0px 1px 8px grey;
  position: fixed;
  bottom: 0px;
  left: 0px; 
  right: 0px;
  z-index: 2;
  }

  .text-reporting2 {
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 11px;
    color:rgba(252,130,143,1);
    position: fixed;
    bottom: 10px;
    left: 14%;
    z-index: 2;
  }
  
  .text-rewards2 {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 11px;
    color: grey;
    position: fixed;
    bottom: 10px;
    left: 43.8%;
    z-index: 2;
  }
  
  .text-settings2 {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 11px;
    color: grey;
    position: fixed;
    bottom: 10px;
    right: 16%;
    z-index: 2;
  }
  
  .reporting-icon {
    position: fixed;
    bottom: 25px;
    left: 16.5%;
    width: 30px;
    z-index: 2;
  }
  
  .rewards-icon {
    position: fixed;
    bottom: 24px;
    left: 45%;
    width: 35px;
    z-index: 2;
  
  }
  
  .settings-icon {
    position: fixed;
    bottom: 25px;
    right: 17.2%;
    width: 35px;
    z-index: 2;
  
  }

.background-image {
  width: 120%;
  height: auto;
  opacity: 0.3;
  top: 350px;
  right: 50px;
  position: relative;
  text-align: right;
  overflow: hidden;
  z-index: -1;
}

#image-desk {
  width: 100%;
  object-fit: contain;
}

.phone-heading {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: white;
  text-align: center;
}

#logo {
    width: 355px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 20px;
    opacity: 1;
  }

@media (min-width: 769px) {

  .box-nav {
    display: none;
  }

  #logo {
    display: none;
  }

.reporting-icon {
  display: none;
}

.rewards-icon {
  display: none;
}

.settings-icon {
  display: none;
}

.text-reporting2 {
  display: none;
}

.text-rewards2 {
  display: none;
}
.text-settings2 {
  display: none;
}

.phonebackground-image {
  display: none;
}
.logo {
  display: none;
}

}


@media (max-width: 769px) {
  .reporting-screen {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow-x: hidden;
  }

  .heading {
    position: relative;
    align-content: center;
}

  .text-reporting {
    display: none;
  }

  .text-rewards {
    display: none;
  }

  .text-settings {
    display: none;
  }

  .top-nav-bar {
    display: none;
  }

  .background-image {
    width: 100%;
    height: 100%;
    top: 100px;
    right: -10px;
    opacity: 0.3;
    position: fixed;
    overflow: hidden;
    z-index: -1;
  }

  .text-enter-the-link {
    font-size: 18px;
    position: absolute;
    left: 20%;
    top: 110px;
    width: 60%;
  }

  .text-explain-link {
    font-size: 14px;
    top: 140px;
    left: 20%;
    width: 60%;
  }
 
  .text-or {
    font-size: 13px;
    position: absolute;
    width: 285px;
    left: 13%;
    font-weight: 800;
    top: 280px;
    text-align: left;
  }
  
  .text-paste-link {
      width: 100%;
      color: rgba(0,0,0,0.8);
      position: absolute;
      top: 170px;
      left: 218px;
      font-family: 'Asap';
      font-weight: Regular;
      font-size: 22px;
      opacity: 1;
      text-align: center;
      z-index: 1;
  }
  
  .text-upload-picture {
    font-size: 18px;
    position: absolute;
    left: 20%;
    width: 285px;
    position: absolute;
    top: 310px;
  }

  .text-upload-explain {
    font-size: 14px;
    width: 60%;
    left: 20%;
    top: 340px;
  }
  
  .text-upload {
    font-size: 13px;
    position: absolute;
    left: 20%;
    width: 285px;
    top: 472px;

  }

  .text-report {
  width: 285px;
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 534px;
  left: 157px;
  font-family: 'Asap';
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  }

  input[type="url"] {
    width: 60%;
    height: 48px;
    background: white;
    opacity: 1;
    box-shadow: 0px 1px 8px grey;
    font-size: 14px;
    font-family: 'Asap';
    font-weight: Regular;
    position: absolute;
    top: 230px;
    left: 20%;
    border: none;
    border-radius: 5px;
    overflow: hidden;
  }

  .box-button {
    top: 80%;
    left: 20%;
    width: 60%;
    background: transparent;
    position: fixed;
    text-align: left;
  }

  .button-report {
    width: 100%;
    height: 42px;
    background: rgba(252,130,143,1);
    opacity: 1;
    font-size: 16px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  .box-upload-picture {
    width: 60%;
    height: 120px;
    background: white;
    background-image: url(upload-icon.png);
    background-position: center 30px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 390px;
    left: 20%;
    box-shadow: 0px 1px 8px grey;
    border: none;
    border-radius: 5px;
    z-index: 1;
    font-family: 'Asap';
    font-weight: Regular;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    overflow: hidden;
    line-height: 190px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    z-index: 1;
  }


  .upload-picture-icon {
    position: absolute;
    left: 158px;
    top: 388px;
    width: 65px;
    z-index: 1;

  }

  .box-nav {
    width: 100%;
    height: 70px;
    background: white;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    }
    
    .logo {
      font-size: 24px;
      position: absolute;
      align-content: center;
      
    }
    .heading {
      display: none;
  }

  #file-upload-filename {
    font-size: 10px;
    position: absolute;
    top: 500px;
    left: 135px;
    z-index: 1;
    }

}



