* {
    overflow-x: hidden;
  }
  
  @media (max-width: 768px) {
    .container-phone {
      width: 100%;
      height: 735px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: relative;
      overflow: hidden;
    }
    .heading {
      width: 100%;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 40px;
      opacity: 1;
      text-align: center;
      margin: auto;
    }
.heading2 {
    display: none;
}
.img-container-desk {
    display: none;
}
.report {
    display:none;
}
.rewards {
    display: none;
}
.settings {
    display: none;
}
.points {
    display: none;
}
.button-signup {
    display: none;
}
.main-text {
    display: none;
}
.subhead-text {
    display: none;
}
.you-text {
    display: none;
}
.points-text {
    display: none;
}
.background-image {
    display: none;
}
.crown {
  display: none;
}
#Address {
  display: none;
}
#Address2 {
  display: none;
}
#city {
  display: none;
}
#state {
  display: none;
}
#postcode {
  display: none;
}
#phone {
  display: none;
}
.arrow {
  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 2;
}
.points12 {
width: 250px;
height: 52px;
background: rgba(252,130,143,1);
position: absolute;
left: 56px;
top: 600px;
font-family: 'Open Sans';
font-weight: 600;
font-size: 22px;
color: white;
border-radius: 5px;
border: none;
cursor: pointer;
outline: none;
z-index: 1;
text-align: center;
line-height: 50px;
}
.main-text1 {
  width: 80%;
  color: rgba(12, 10, 64);
  font-family: 'Work Sans';
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 240px;
  left: 30px;
  z-index: 2;
}
.points1 {
  width: 120px;
  height: 120px;
  background:rgba(118, 211, 206, 1);
  opacity: 1;
  position: absolute;
  /* left: 200px; */
  left: 33%;
  top: 110px;
  color: black;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 50px;
  /* font-size: 250%; */
  border-radius: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  z-index: 1; 
}
.crown1 {
  position: absolute;
  left: 196px;
  top: 84px;
  transform: rotate(37deg);
  z-index: 1;
}

#fname1 {
  width: 83%;
  height: 45px;
  padding: 2px 40px 2px;
  opacity: 1;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  font-family: 'Asap';
  font-size: 15px;
  top: 300px;
  left: 30px;
  outline: none;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

#lname1 {
  width: 83%;
  height: 45px;
  padding: 2px 40px 2px;
  opacity: 1;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  font-family: 'Asap';
  font-size: 15px;
  top: 360px;
  left: 30px;
  outline: none;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
#city1 {
  width: 83%;
  height: 45px;
  padding: 2px 40px 2px;
  opacity: 1;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  font-family: 'Asap';
  font-size: 15px;
  top: 420px;
  left: 30px;
  outline: none;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

#state1 {
  width: 40%;
  height: 45px;
  margin-right: 40px;
  padding: 2px 40px 2px;
  opacity: 1;
  background-color: white;
  color: gray;
  box-sizing: border-box;
  position: absolute;
  font-family: 'Asap';
  font-size: 15px;
  top: 480px;
  left: 30px;
  outline: none;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
#postcode1 {
  width: 40%;
  height: 45px;
  padding: 2px 40px 2px;
  opacity: 1;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  font-family: 'Asap';
  font-size: 15px;
  top: 480px;
  left: 184px;
  outline: none;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1; 
}
#phone1 {
  width: 83%;
  height: 45px;
  padding: 2px 40px 2px;
  opacity: 1;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  font-family: 'Asap';
  font-size: 15px;
  top: 540px;
  left: 30px;
  outline: none;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.you-text1 {
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 37px;
  font-family: 'Open Sans';
  font-size: 15px;
  z-index: 2;
}
.points-text1 {
  color: rgba(0,0,0,1);
  position: absolute;
  bottom: 10px;
  left: 38px;
  font-family: 'Open Sans';
  font-size: 15px;
  z-index: 2;
}
.box-nav {
  width: 100%;
  height: 70px;
  background:white;
  box-shadow: 0px 1px 8px grey;
  position: fixed;
  bottom: 0px;
  left: 0px; 
  right: 0px;
  z-index: 2;
  }

.text-reporting2 {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 11px;
  color:grey;
  position: fixed;
  bottom: 10px;
  left: 14%;
  z-index: 2;
}

.text-rewards2 {
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 11px;
  color:  rgba(252,130,143,1);
  position: fixed;
  bottom: 10px;
  left: 43.8%;
  z-index: 2;
}

.text-settings2 {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 11px;
  color: grey;
  position: fixed;
  bottom: 10px;
  right: 16%;
  z-index: 2;
}

.reporting-icon {
  position: fixed;
  bottom: 25px;
  left: 16.5%;
  width: 30px;
  z-index: 2;
}

.rewards-icon {
  position: fixed;
  bottom: 24px;
  left: 45%;
  width: 35px;
  z-index: 2;

}

.settings-icon {
  position: fixed;
  bottom: 25px;
  right: 17.2%;
  width: 35px;
  z-index: 2;

}
.background-image1 {
width: 120%;
height: auto;
opacity: 0.3;
top: 140px;
right: 0px;
position: fixed;
overflow: hidden;
z-index: 0;
}

#image-desk {
width: 100%;
object-fit: contain;
}



}
  
  @media (min-width: 769px) {
    .background-image {
        opacity: 0.3;
        position: absolute;
        top: 230px;
        width: 100%;
      }
  
    .container-desk {
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: fixed;
      overflow: hidden;
    }
  
    .top-navbar {
      width: 100%;
      height: 64px;
      background: white;
      box-shadow: 0px 1px 8px grey;
      opacity: 1;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  
    .heading2 {
      width: 100%;
      top: 0px;
      position: absolute;
      opacity: 1;
      text-align: left;
    }

    .report {
      width: 100px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 25px;
      right: 350px;
      font-family: 'Work Sans';
      font-weight: 'Regular';
      font-size: 16px;
      opacity: 0.5;
      text-align: center;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      overflow: hidden;
    }

    .report:hover {
      opacity: 1;
      transition: 0.3s;
    }


    .rewards {
      width: 100px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 25px;
      right: 225px;
      font-family: 'Work Sans';
      font-weight: 'Regular';
      font-size: 16px;
      opacity: 1;
      text-align: center;
      text-decoration: underline;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      overflow: hidden;
    }
    .settings {
      width: 100px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 25px;
      right: 100px;
      font-family: 'Work Sans';
      font-weight: 'Regular';
      font-size: 16px;
      opacity: 0.5;
      text-align: center;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      overflow: hidden;
    }

    .settings:hover {
      opacity: 1;
      transition: 0.3s;
    }




    .points {
        width: 200px;
        height: 200px;
        background:rgba(118, 211, 206, 1);
        opacity: 1;
        position: absolute;
        /* left: 200px; */
        left: 43%;
        top: 100px;
        color: black;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 94px;
        /* font-size: 250%; */
        border-radius: 100%;
        border: none;
        outline: none;
        overflow: hidden;
        z-index: 1; 
    }
  
    .button-signup {
        width: 275px;
        height: 72px;
        background: rgba(252,130,143,1);
        position: absolute;
        top: 590px;
        left: 890px;
        font-family: 'Asap';
        font-weight: 'SemiBold';
        font-size: 30px;
        color: white;
        border-radius: 69px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        outline: none;
        z-index: 2;
    }
    
    .button-signup:hover {
      background: rgb(236, 91, 106);
      transition: 0.3s;
    }
      .main-text {
        width: 50%;
        height: auto;
        color: rgba(12, 10, 64);
        position: absolute;
        top: 315px;
        left: 370px;
        font-family: 'Work Sans';
        font-size: 24px;
        opacity: 1;
        text-align: center;
      }
      .you-text {
        color: rgba(0,0,0,1);
        position: absolute;
        top: 20px;
        left: 73px;
        font-family: 'Open Sans';
        font-size: 20px;
        z-index: 1;
      }
      .points-text {
        color: rgba(0,0,0,1);
        position: absolute;
        bottom: 20px;
        left: 73px;
        font-family: 'Open Sans';
        font-size: 20px;
        z-index: 1;
      }
            /* #fname {
        width: 300px;
        height: 50px;
        background-color: white;
        padding: 2px 20px 2px;
        opacity: 1;
        margin: 40px 10px 20px 60px;
        box-sizing: border-box;
        border: 2px solid rgb(180, 180, 180);
        position: relative;
        top: 420px;
        left: 200px;
        font-family: 'Open Sans';
        font-size: 15px;
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
      } */
      #Address {
        width: 30%;
        height: 54px;
        padding: 2px 40px 2px;
        opacity: 1;
        background-color: white;
        box-sizing: border-box;
        position: fixed;
        font-family: 'Asap';
        font-size: 15px;
        top: 420px;
        left: 200px;
        outline: none;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
      }

      #Address2 {
        width: 30%;
        height: 54px;
        padding: 2px 40px 2px;
        background-color: white;
        opacity: 1;
        box-sizing: border-box;
        position: fixed;
        font-family: 'Asap';
        font-size: 15px;
        top: 515px;
        left: 200px;
        outline: none;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
      }
      #city {
        width: 30%;
        height: 54px;
        padding: 2px 40px 2px;
        background-color: white;
        opacity: 1;
        box-sizing: border-box;
        position: fixed;
        font-family: 'Asap';
        font-size: 15px;
        top: 610px;
        left: 200px;
        outline: none;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
      }

      #state {
        width: 13%;
        height: 54px;
        padding: 2px 40px 2px;
        background-color: white;
        opacity: 1;
        box-sizing: border-box;
        position: fixed;
        font-family: 'Asap';
        font-size: 15px;
        top: 420px;
        left: 820px;
        outline: none;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;  
        color: gray;
      }
      #postcode {
        width: 13%;
        height: 54px;
        padding: 2px 40px 2px;
        background-color: white;
        opacity: 1;
        box-sizing: border-box;
        position: fixed;
        font-family: 'Asap';
        font-size: 15px;
        top: 420px;
        left: 1050px;
        outline: none;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;  
      }
      #phone {
        width: 30%;
        height: 54px;
        padding: 2px 40px 2px;
        background-color: white;
        opacity: 1;
        box-sizing: border-box;
        position: fixed;
        font-family: 'Asap';
        font-size: 15px;
        top: 515px;
        left: 820px;
        outline: none;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1; 
      }
      .crown {
          position: absolute;
          left: 768px;
          top: 65px;
          transform: rotate(49deg);
      }
  }
  
  